/* Styles for portal page it261 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body {
    background-color: #f2f2f2;
}

#wrapper {
    overflow: auto;
    min-height: 98%;
    max-width: 95%;
    margin: 20px auto;
    padding: 0;
    background-color: #FBF7F4;
}

main {
    margin: 1% 0 0 3%;
    width: 65%;
    float: left;
}

aside {
    display: block;
    position: relative;
    margin: 7% 4% 0 0;
    width: 25%;
    float: right;
    border: 3.5px solid #392e3a;
    padding: 0 0 3% 1%;
}

aside::before {
    content: "";
    background-color: #EDBB68;
    opacity: 0.5;
    background-size: cover;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

div.aside_text {
    position: relative;
}

main div.mamp_screenshots {
    display: flex;
    flex-flow: column nowrap;
    align-content: start;
    align-items: center;
    margin: 5% 10% 10% 3%;
    padding: 3%;
    width: 90%;
    height: 20%;
    border: 3.5px solid #392e3a;
    border-radius: 3px;
}

footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    background-color: #FBF7F4;
}


/*typography*/

h1.portal,
h1.portal a:link,
h1.portal a:visited,
main h2.about,
aside h2.exercises,
body h4,
ul.navigation li a {
    text-align: left;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 700;
    font-style: italic;
    color: #392e3a;
}

main h2.about {
    margin: 20px 0 0 20px;
}

aside h2.exercises {
    margin: 5.5% 1% 0 1%;
}

h1.portal,
h1.portal a:link,
h1.portal a:visited {
    font-size: 1.75em;
    color: #392e3a;
    margin-left: 20px;
}

aside ul li a:link,
aside ul li {
    color: #392e3a;
    margin-left: 6%;
}

p.portal_p1 {
    display: inline;
    max-width: 60%;
    margin: 5% 0 5% 2%;
    float: left;
    text-align: justify;
}

h1.portal a:hover,
ul.navigation li a:hover,
aside ul li a:hover,
aside ul li a:visited {
    color: #CCC;
}

p.portal_p1,
footer p,
aside li a {
    color: #392e3a;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 400;
}

aside h4,
aside ul li {
    text-align: left;
    margin-left: 20px;
}

div.mamp_screenshots h4 {
    align-self: center;
    padding: 1% auto;
}


/* nav */

nav ul.navigation {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    min-height: 75px;
    height: fit-content;
    width: 100%;
    background-color: #FBF7F4;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.02);
}

ul.navigation li {
    margin: 0.75% 0 0.75% 0;
}

ul.navigation li a {
    font-size: 17px;
    text-decoration: none;
    padding: 3px 8px;
    margin-left: 1%;
}


/* img */

main img.kelly {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: inline;
    float: left;
    margin: 0 0 5% 3%;
    border: 3.5px solid #392e3a;
}

main div img.mamp,
main div img.mampError {
    max-width: 90%;
    height: auto;
}