/* styles for class website */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body {
    background-color: #f2f2f2;
}

header {
    background: #FBF7F4;
    padding: 10px 0;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.02);
}

.inner-header {
    max-width: 1200px;
    margin: 0px auto;
    overflow: hidden;
}

#logo {
    width: 200px;
    height: 115px;
    float: left;
    margin-left: 20px;
}

ul li {
    list-style-type: none;
}

nav ul {
    float: right;
    margin-top: 50px;
    margin-right: 25px;
}

nav li {
    float: left;
    margin-left: 30px;
}

#wrapper {
    max-width: 1200px;
    width: 98%;
    margin: 20px auto;
    clear: both;
    overflow: hidden;
    background-color: #FBF7F4;
}

div #home_hero {
    margin-bottom: 20px;
    max-width: 100%;
    height: auto;
    background-size: contain;
    background-position: center;
}

#home_hero img {
    top: 50%;
    left: 50%;
    height: 500px;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 5px;
}

div #thx_hero {
    top: 0;
    left: 0;
    background: url('../images/thx.png') no-repeat center center;
    background-size: cover;
    background-position: top top;
    border-radius: 5px;
    width: 100%;
    height: 800px;
}

div.daily_hero {
    max-width: 70%;
    height: auto;
    float: left;
}

.daily_hero h1,
.daily_hero p {
    padding: 0 2%;
}

.daily_hero img {
    height: 350px;
    width: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 5px;
    float: left;
    margin: 0 0 2% 0;
}

#main_home {
    display: block;
    position: relative;
    width: 62%;
    height: auto;
    float: left;
    border-radius: 3px;
    border: 3.5px solid #392e3a;
    padding: 2.5%;
}

#main_home::before {
    content: "";
    background-color: #EDBB68;
    opacity: 0.5;
    background-size: cover;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

#main_daily {
    max-width: 70%;
    height: auto;
    float: left;
    background-color: #FBF7F4;
    padding: 0;
    margin: 0 3% 1% 1%;
    overflow: visible;
}

div.main_text {
    width: 100%;
    float: left;
}

div.main_text,
div.aside_text {
    position: relative;
}

div.aside_text ul {
    margin: 20% 5% 0 0;
    list-style-type: none;
}

aside:not(.aside_daily) {
    display: block;
    position: relative;
    width: 35%;
    height: auto;
    float: right;
    border-radius: 3px;
    border: 3.5px solid #392e3a;
    padding: 5%;
}

.aside_daily {
    display: inline-block;
    position: relative;
    flex-flow: row wrap;
    height: 100%;
    width: 15%;
    border-radius: 3px;
    border: 3.5px solid #392e3a;
    padding: 10% 1% 45% 1%;
    margin: 0 0 0 11%;
}

aside::before,
.aside_daily::before {
    content: "";
    background-color: #897DA5;
    opacity: 0.75;
    background-size: cover;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

p {
    margin-bottom: 20px;
    line-height: 1.4;
    text-align: justify;
}

footer {
    height: 60px;
    line-height: 60px;
    background: #FBF7F4;
    clear: both;
}

footer ul {
    display: flex;
    justify-content: center;
}

footer li {
    display: flex;
    justify-content: center;
    margin: 0 15px;
    list-style-type: none;
}

footer li a {
    text-decoration: none;
}


/*Typography*/

nav li a,
h1,
h2,
h3,
h4,
aside ul li {
    text-decoration: none;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 700;
    font-style: italic;
}

nav li a,
h1,
h2,
h3,
h4,
aside ul li {
    color: #392e3a;
}

h1.thx {
    top: 100%;
    left: 50%;
    transform: translateY(375px);
    color: #FBF7F4;
    text-align: center;
    font-size: 3em;
}

footer,
p {
    color: #392e3a;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 400;
}

h1,
h2,
h3 {
    margin-bottom: 10px;
}

nav ul li a {
    font-weight: bold;
    font-size: 1.1em
}

aside.aside_daily li a {
    text-decoration: none;
}

body a:link,
body a:visited {
    color: #392e3a;
}

body a:hover {
    color: #CCC;
}

#logo:hover {
    transform: scale(0.97);
}


/*form styles*/

form {
    max-width: 60%;
    margin: 20px auto;
    position: relative;
    padding: 2.5%;
}

fieldset {
    display: block;
    position: relative;
    /*padding: 5px 20px 25px 20px;*/
    /*width: 60%;*/
    height: auto;
    border-radius: 3px;
    padding: 5%;
    width: 90%;
    border: 3px solid #FBF7F4;
    margin: 0 auto;
}

form::before {
    content: "";
    background-color: #008b8b;
    opacity: 0.75;
    background-size: cover;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 3px;
}

form ul {
    margin-bottom: 15px;
}

input[type=text]:not(.other),
input[type=email],
input[type=tel],
textarea {
    display: block;
    width: 80%;
    height: 30px;
    margin-bottom: 15px;
    padding: 0 2%;
    border-radius: 3px;
    border: 1px solid #000000;
}

textarea {
    padding-top: 1%;
}

.other {
    display: inline;
    width: 30%;
    height: 20px;
    padding: 0 2%;
    margin-left: 15px;
    border: 0.5px solid #000000;
}

#contact {
    margin: 1% 0 0 2%;
}

div.wrapper2 {
    margin-left: 10%;
}

input[type=checkbox],
input[type=radio] {
    border: 0.5px solid #000000;
    margin-left: 10px;
}

form select {
    width: 30%;
    height: 20px;
    padding: 0 2%;
    background-color: #ffffff;
    margin-bottom: 15px;
    border: 0.5px solid #000000;
}

.other::placeholder,
input::placeholder {
    font-style: italic;
}

input[type=submit] {
    width: 25%;
    margin-top: 30px;
    display: block;
    background-color: #EDBB68;
    border: 0.5px solid #000000;
    padding: 1%;
    border-radius: 60px;
    margin-bottom: 10px;
}

input[type=button] {
    padding: 1%;
    background-color: #EDBB68;
    border: 0.5px solid #000000;
    border-radius: 60px;
    width: 20%;
}

input[type=submit]:hover,
input[type=button]:hover {
    transform: scale(0.97);
    transition: 0.3s;
}


/* Form Typography*/

form ul li,
input[type=text],
input[type=email],
input[type=tel],
form select,
textarea {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 400;
}

form label,
span.error,
h1.contact,
h2,
legend,
input[type=submit],
input[type=button] {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 700;
    font-style: italic;
}

legend {
    font-size: 1.4em;
    color: #392e3a;
}

input[type=submit],
input[type=button] {
    color: #392e3a;
    font-size: 1.1em;
}

input,
textarea {
    font-size: 0.8em;
}

form label {
    display: block;
    margin-bottom: 2px;
    color: #392e3a;
    font-size: 1.2em;
}

span.error {
    color: #d9381e;
    text-align: center;
    font-size: 1.2em;
    margin: 0 auto;
}